
  
<% provide(:title, "Base") %>
<% provide(:class_text, 'post--base') %>
<% provide(:button_text, '修正') %>

<h1>基本情報の更新</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input type="hidden" name="authenticity_token" value="O++d9woJEC0+oxBy9ACtK1+SGlHLuIxdjZxYTIFZ0W63vxtmkEcnYSdGVDpibxM7TLmOxlfIB9p3yWjQFpfqDQ==" />
      
    <label class="label-form" for="user_work_time">指定勤務時間</label>
    <input class="form-control" value="" type="time" name="user[work_time]" />
      

    </textarea>

    <label class="label-form" for="user_basic_time">基本勤務時間</label>
    <input class="form-control" value="" type="time" name="user[basic_time]" />     
      
    </textarea>

    <br>
      <div class="center">
      <input type="submit" name="commit" value="編集" class="btn btn-primary btn-block btn-login" data-disable-with="編集" />
    </form>

</div>

